<!-- Title for the ion view -->
<ion-view title="All Events">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <!-- ======================
  /END LEFT SIDE BUTTON
  ====================== -->

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-person" ng-click="go('/app/profile/{{ userData.user.id }}/students')"></button>
  </ion-nav-buttons>
  <!-- ======================
  /END RIGHT SIDE BUTTON
  ====================== -->

  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content feed" ng-init="initEvents()">

    <!-- ======================
    SEARCH FORM - STANDARD IONIC MARKUP
    ====================== -->
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="search">
      </label>
    </div>
    <!-- ======================
    /END SEARCH FORM
    ====================== -->
    <div class="item" ng-repeat="event in events | filter:search">
      <!-- ======================
      POST - image only
      ====================== -->
      <!--<div class="news-media">-->
        <!--<img src="img/gemionic/news-image.jpg" alt="" class="fluid-image">-->
        <!--<div class="media-social-stats">-->
          <!--<button class="button button-small button-borderless button-positive"><i class="icon ion-heart"></i></button>-->
        <!--</div>-->
      <!--</div>-->
      <div class="news-media">
        <a href="#/app/eventdetails/{{ event.id }}"><img src="{{event.img_url}}" alt="" class="fluid-image"></a>
        <div class="media-social-stats stat-label"> <!-- Absolutely positioned right. '.news-media' is relative -->
          <span class="news-comment-summary">
            <button ng-click="likeEvent(event.id)" class="button-clear"><i class="icon ion-heart"></i> {{ event.likes }}</button>
            <button ng-click="unBookmarkEvent(event)" class="button-clear" ng-show="isBookmarked(event.id)"><i class="icon ion-checkmark"></i></button>
            <button ng-click="bookmarkEvent(event)" class="button-clear" ng-hide="isBookmarked(event.id)"><i class="icon ion-android-bookmark"></i></button>
            <!--<i class="icon ion-chatbubble"></i> 3-->
          </span>
        </div>
      </div>

      <!-- ======================
      POSTER - profile thumb, name and post stats
      ====================== -->
      <div class="news-item">
        <div class="news-thumb">
          <a href="#/app/profile/{{event.organizer.id}}/organizers"><img src="{{event.organizer.img_url}}" alt="" class="img"></a>
        </div>
        <div class="news-content" ng-click="go('/app/eventdetails/{{ event.id }}')">
          <larger><h2><b>{{ event.name }}</b></h2></larger>
          <div class="gem-tiny-text news-item-stats">
            <h3><i class="icon ion-clock"></i> {{ parseDate(event.start_time) }} - {{ parseDate(event.end_time) }}</h3>
            <h3><i class="icon ion-location"></i>&nbsp;&nbsp;{{ event.location }}</h3>
            <!--<span class="news-comment-summary">-->
              <!--<button href="#" class="button-clear"><i class="icon ion-heart"></i> 2</button>-->
              <!--&lt;!&ndash;<i class="icon ion-chatbubble"></i> 3&ndash;&gt;-->
            <!--</span>-->
          </div>
        </div>
        <div class="news-more-action">
          <button class="button-clear padding-right" ng-click="registerEvent(event)" ng-hide="event.registered"><h1><i class="icon ion-plus"></i></h1></button>
          <button class="button-clear padding-right" ng-click="deregisterEvent(event)" ng-show="event.registered"><h1><i class="icon ion-close gem-color-danger"></i></h1></button>
        </div>
        <div class="row">
          <span class="gem-label warning" ng-repeat="tag in event.tag_set" ng-click="go('/app/events/{{tag.tag}}')">{{tag.tag}}</span>&nbsp;
        </div>
      </div>
      <!-- ======================
      /END POSTER
      ====================== -->
    </div>

  </ion-content>
  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
