<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-light nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">

    <!-- Sidebar Content -->
    <ion-content class="gem-sidebar dark">
      <!-- Profile Box - Extends ionic's .row -->
      <div class="row gem-sidebar-profile-box">
        <!-- Profile Thumb -->
        <div class="col col-25">
          <img src="{{userData.img_url}}" class="gem-profile-image" alt="">
        </div>
        <!-- End Profile Thumb -->

        <!-- Profile Name -->
        <div class="col col-50">
          <h5 class="title">{{ userData.name }}</h5>
          <h6 class="action-links">{{ userData.matric_no }} | {{ userData.department }}</h6>
        </div>
        <!-- End Profile Name -->

        <!-- Account Settings Icon -->
        <div class="col col-25 gem-text-center">
          <i class="gem-profile-settings-icon icon ion-gear-b"></i>
        </div>
        <!-- End Account Settings Icon -->

      </div>
      <!-- End Profile Box -->
      <ion-list>
        <ion-item class="item-ng-click" nav-clear menu-close ng-click="login()" ng-hide="isLogged()">Login</ion-item>
        <ion-item class="item-ng-click" nav-clear menu-close ng-click="stateGo('app.events')">All Events</ion-item>
        <!--<ion-item nav-clear menu-close href="#/app/start">Starter View</ion-item>-->
        <!--<ion-item nav-clear menu-close href="#/app/viewpost">View Post (2)</ion-item>-->
        <!--<ion-item nav-clear menu-close href="#/app/eventdetails/1">Event Details</ion-item>-->
        <!--<ion-item nav-clear menu-close href="#/app/fgrid">Friend (Grid)</ion-item>-->
        <!--<ion-item nav-clear menu-close href="#/app/newpost">New Post</ion-item>-->
        <!--<ion-item nav-clear menu-close href="#/app/email">Send Mail</ion-item>-->
        <ion-item nav-clear menu-close href="#/app/profile/{{ userData.user.id }}/students">My Profile</ion-item>
        <ion-item nav-clear menu-close href="#/app/flist">Friends</ion-item>
        <!--<ion-item nav-clear menu-close href="#/app/profiletwo">Profile 2</ion-item>-->
        <!--<ion-item nav-clear menu-close href="#/app/profilethree">Profile 3</ion-item>-->
        <!--<ion-item nav-clear menu-close href="#/app/editprofile">Edit Profile</ion-item>-->
        <!--<ion-item nav-clear menu-close href="#/app/timeline">Timeline</ion-item>-->
        <ion-item nav-clear menu-close href="#/app/invite">Invite Friends</ion-item>
        <!--<ion-item nav-clear menu-close href="#/app/news">News</ion-item>-->
        <ion-item class="item-ng-click" nav-clear ng-click="doLogout()" ng-show="isLogged()">Log Out</ion-item>

      </ion-list>
    </ion-content>
    <!-- End sidemenu content -->
  </ion-side-menu>
</ion-side-menus>
