<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="My Profile">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-edit"></button>
  </ion-nav-buttons>

  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content" ng-init="initProfile()">
    <!-- ======================
    GEMIONIC PROFILE SECTION
    ====================== -->
    <div class="gem-profile-media">
      <div class="gem-profile-details profile2">
        <!-- Profile Name -->
        <h3 class="gem-white">{{ profileData.name }}</h3>
        <!-- Profile Description text -->
        <p>{{ profileData.description }}</p>
        <!-- text stats -->
        <!--<div class="gem-center">-->
          <!--<i class="icon ion-chatbubble"></i> 2003 | <i class="icon ion-heart"></i> 2044-->
        <!--</div>-->
      </div>
      <!-- Background Image -->
      <img src="{{profileData.img_url}}" alt="" class="fluid-image profile-background-image" style="vertical-align:middle;">
    </div>
    <!-- ======================
    END GEMIONIC PROFILE SECTION
    ====================== -->

    <!-- Basic Tabs - not hooked qith angular -->
    <div class="tabs gem-position-static profile-tabs">
      <a class="tab-item active">
        <i class="ion-ios7-paper"></i> My Events
      </a>
      <a class="tab-item" ng-click="stateGo('app.events')">
      <i class="ion-ios7-paper"></i> Recommended for Me
    </a>
    </div>

    <!-- Subheader - using ionic's subheader. '.gem-position-relative' is to shift the child icon to the right -->
    <div class="bar bar-header bar-positive gem-position-relative">
      <h2 class="title text-left">
        <i class="ion-checkmark-circled pos-absolute-right"></i> 3 New Notifications
      </h2>
    </div>
    <!-- End subheader -->
    <!-- Title separator -->
    <div class="separator-title" ng-hide="profileData.bookmarked_events==null||profileData.bookmarked_events.length==0">{{profileData.bookmarked_events.length}} Bookmarked Events</div>
    <!-- End Title separator -->
    <!-- Gemionic Timeline -->
    <ul class="timeline">
      <!-- timeline item -->
      <li ng-repeat="bookmarked_event in profileData.bookmarked_events | orderBy:'start_time'" ng-click="go('/app/eventdetails/{{bookmarked_event.id}}')">
        <!-- thumb - absolutely positioned left -->
        <img src="{{bookmarked_event.organizer.img_url}}" alt="" class="timeline-thumb">
        <!-- Text details -->
        <div class="timeline-item">
          <h5 class="bold">{{bookmarked_event.name}}</h5>
          <p>{{bookmarked_event.description}}</p>
          <div class="timeline-stats">
            <i class="ion-location"></i> {{bookmarked_event.location}}
            <span class="pos-absolute-right"><i class="ion-android-clock"></i> {{parseDate(bookmarked_event.start_time)}}</span>
          </div>
        </div>
        <!-- End Text Details -->
      </li>
      <!-- end timeline item -->


    </ul>
    <!-- Title separator -->
    <div class="separator-title">{{profileData.registered_events.length}} Upcoming Registered Events</div>
    <!-- End Title separator -->
    <!-- Gemionic Timeline -->
    <ul class="timeline">
      <!-- timeline item -->
      <li ng-repeat="registered_event in profileData.registered_events" ng-click="go('/app/eventdetails/{{registered_event.id}}')">
        <!-- thumb - absolutely positioned left -->
        <img src="{{registered_event.organizer.img_url}}" alt="" class="timeline-thumb">
        <!-- Text details -->
        <div class="timeline-item">
          <h5 class="bold">{{registered_event.name}}</h5>
          <p>{{registered_event.description}}</p>
          <div class="timeline-stats">
            <i class="ion-location"></i> {{registered_event.location}}
            <span class="pos-absolute-right"><i class="ion-android-clock"></i> {{parseDate(registered_event.start_time)}}</span>
          </div>
        </div>
        <!-- End Text Details -->
      </li>
      <!-- end timeline item -->


    </ul>
    <!-- End gemionic timeline -->

    <!-- Title separator -->
    <div class="separator-title" ng-hide="profileData.attended_event==null||profileData.attended_event.length==0">{{profileData.attended_event.length}} Past Events</div>
    <!-- End Title separator -->


    <!-- Gemionic Timeline -->
    <ul class="timeline">

      <!-- end timeline item -->

      <!-- timeline item -->
      <li ng-repeat="attended_event in profileData.attended_events" ng-click="go('/app/eventdetails/{{attended_event.id}}')">
        <!-- thumb image -->
        <img src="{{attended_event.organizer.img_url}}" alt="" class="timeline-thumb">
        <!-- end thumb -->

        <!-- timeline-text -->
        <div class="timeline-item">
          <h5 class="bold">{{attended_event.name}}</h5>
          <p>{{attended_event.description}}</p>
          <div class="timeline-stats">
            <i class="ion-location"></i> {{attended_event.location}}
            <span class="pos-absolute-right"><i class="ion-android-clock"></i> {{parseDate(attended_event.start_time)}}</span>
          </div>
        </div>
        <!-- end timeline text -->
      </li>

    </ul>


  </ion-content>
</ion-view>
