<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="My Profile">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-edit"></button>
  </ion-nav-buttons>

  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content" ng-init="initProfile()">
    <!-- ======================
    GEMIONIC PROFILE SECTION
    ====================== -->
    <div class="gem-profile-media">
      <div class="gem-profile-details profile2">
        <!-- Profile Name -->
        <h3 class="gem-white">{{ profileData.name }}</h3>
        <!-- Profile Description text -->
        <p>{{ profileData.description }}</p>
        <!-- text stats -->
        <!--<div class="gem-center">-->
          <!--<i class="icon ion-chatbubble"></i> 2003 | <i class="icon ion-heart"></i> 2044-->
        <!--</div>-->
      </div>
      <!-- Background Image -->
      <img src="{{profileData.img_url}}" alt="" class="fluid-image profile-background-image" style="vertical-align:middle;">
    </div>
    <!-- ======================
    END GEMIONIC PROFILE SECTION
    ====================== -->

    <!-- Basic Tabs - not hooked qith angular -->
    <div class="tabs gem-position-static profile-tabs">
      <a class="tab-item active">
        <i class="ion-ios7-paper"></i> My Events
      </a>
    </div>

    <!-- Subheader - using ionic's subheader. '.gem-position-relative' is to shift the child icon to the right -->
    <div class="bar bar-header bar-positive gem-position-relative">
      <h2 class="title text-left">
        <i class="ion-checkmark-circled pos-absolute-right"></i> 3 New Notifications
      </h2>
    </div>
    <!-- End subheader -->
    <!-- Title separator -->
    <div class="separator-title">Bookmarked Events</div>
    <!-- End Title separator -->
    <!-- Gemionic Timeline -->
    <ul class="timeline">
      <!-- timeline item -->
      <li>
        <!-- thumb - absolutely positioned left -->
        <div class="timeline-thumb timeline-thumb gem-success no-image">  <!-- use '.no-image' if you want to use an icon instead -->
          <i class="ion-heart"></i>
        </div>
        <!-- Text details -->
        <div class="timeline-item">
          <h5 class="bold">Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
          <div class="timeline-stats">
            <i class="ion-heart"></i> 23
            <span class="pos-absolute-right"><i class="ion-android-clock"></i> 2 days ago</span>
          </div>
        </div>
        <!-- End Text Details -->
      </li>
      <!-- end timeline item -->

      <!-- timeline item -->
      <li>
        <!-- thumb - absolutely positioned left -->
        <img src="img/gemionic/profile-image.jpg" alt="" class="timeline-thumb">
        <!-- Text details -->
        <div class="timeline-item">
          <h5 class="bold">Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
          <div class="timeline-stats">
            <i class="ion-heart"></i> 23
            <span class="pos-absolute-right"><i class="ion-android-clock"></i> 2 days ago</span>
          </div>
        </div>
        <!-- End Text Details -->
      </li>
      <!-- End timeline item -->

      <!-- timeline item -->
      <li>
        <!-- thumb - absolutely positioned left -->
        <img src="img/gemionic/profile-image.jpg" alt="" class="timeline-thumb">
        <!-- Text details -->
        <div class="timeline-item">
          <h5 class="bold">Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
          <div class="timeline-stats">
            <i class="ion-heart"></i> 23
            <span class="pos-absolute-right"><i class="ion-android-clock"></i> 2 days ago</span>
          </div>
        </div>
        <!-- End Text Details -->
      </li>
      <!-- timeline item -->

    </ul>
    <!-- Title separator -->
    <div class="separator-title">Upcoming Events</div>
    <!-- End Title separator -->
    <!-- Gemionic Timeline -->
    <ul class="timeline">
      <!-- timeline item -->
      <li>
        <!-- thumb - absolutely positioned left -->
        <div class="timeline-thumb timeline-thumb gem-success no-image">  <!-- use '.no-image' if you want to use an icon instead -->
          <i class="ion-heart"></i>
        </div>
        <!-- Text details -->
        <div class="timeline-item">
          <h5 class="bold">Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
          <div class="timeline-stats">
            <i class="ion-heart"></i> 23
            <span class="pos-absolute-right"><i class="ion-android-clock"></i> 2 days ago</span>
          </div>
        </div>
        <!-- End Text Details -->
      </li>
      <!-- end timeline item -->

      <!-- timeline item -->
      <li>
        <!-- thumb - absolutely positioned left -->
        <img src="img/gemionic/profile-image.jpg" alt="" class="timeline-thumb">
        <!-- Text details -->
        <div class="timeline-item">
          <h5 class="bold">Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
          <div class="timeline-stats">
            <i class="ion-heart"></i> 23
            <span class="pos-absolute-right"><i class="ion-android-clock"></i> 2 days ago</span>
          </div>
        </div>
        <!-- End Text Details -->
      </li>
      <!-- End timeline item -->

      <!-- timeline item -->
      <li>
        <!-- thumb - absolutely positioned left -->
        <img src="img/gemionic/profile-image.jpg" alt="" class="timeline-thumb">
        <!-- Text details -->
        <div class="timeline-item">
          <h5 class="bold">Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
          <div class="timeline-stats">
            <i class="ion-heart"></i> 23
            <span class="pos-absolute-right"><i class="ion-android-clock"></i> 2 days ago</span>
          </div>
        </div>
        <!-- End Text Details -->
      </li>
      <!-- timeline item -->

    </ul>
    <!-- End gemionic timeline -->

    <!-- Title separator -->
    <div class="separator-title">Past Events</div>
    <!-- End Title separator -->


    <!-- Gemionic Timeline -->
    <ul class="timeline">
      <!-- timeline item -->
      <li>
        <!-- thumb image -->
        <img src="img/gemionic/profile-image.jpg" alt="" class="timeline-thumb">
        <!-- end thumb -->

        <!-- timeline-text -->
        <div class="timeline-item">
          <h5 class="bold">Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
          <div class="timeline-stats">
            <i class="ion-heart"></i> 23
            <span class="pos-absolute-right"><i class="ion-android-clock"></i> 2 days ago</span>
          </div>
        </div>
        <!-- end timeline text -->
      </li>
      <!-- end timeline item -->

      <!-- timeline item -->
      <li>
        <!-- thumb image -->
        <img src="img/gemionic/profile-image.jpg" alt="" class="timeline-thumb">
        <!-- end thumb -->

        <!-- timeline-text -->
        <div class="timeline-item">
          <h5 class="bold">Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
          <div class="timeline-stats">
            <i class="ion-heart"></i> 23
            <span class="pos-absolute-right"><i class="ion-android-clock"></i> 2 days ago</span>
          </div>
        </div>
        <!-- end timeline text -->
      </li>
      <!-- end timeline item -->

      <!-- timeline item -->
      <li>
        <!-- thumb image -->
        <img src="img/gemionic/profile-image.jpg" alt="" class="timeline-thumb">
        <!-- end thumb -->

        <!-- timeline-text -->
        <div class="timeline-item">
          <h5 class="bold">Title</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
          <div class="timeline-stats">
            <i class="ion-heart"></i> 23
            <span class="pos-absolute-right"><i class="ion-android-clock"></i> 2 days ago</span>
          </div>
        </div>
        <!-- end timeline text -->
      </li>

    </ul>


  </ion-content>
</ion-view>
