<!-- View header bar is hidden using attribute 'hide-nav-bar="true"' -->
<ion-view title="Login-Fullscreen" hide-nav-bar="true">
  <!-- Splash background - refer to .gem-splash_background in css/style.css to change image -->
  <ion-content class="gem-splash_background">
    <!--<div class="gem-form text-center">-->
      <!--&lt;!&ndash; Logo as you please &ndash;&gt;-->
      <!--<div class="gem-splash-logo">-->
        <!--<img src="img/gemionic/gem-logo.png" alt="Logo">-->
        <!--<h3 class="gem-white">Gemionic Social Theme for IonicFramework</h3>-->
      <!--</div>-->
      <!--&lt;!&ndash; end Logo &ndash;&gt;-->

      <!--&lt;!&ndash; buttons. .button-rounded can be added for more roundness &ndash;&gt;-->
      <!--<button menu-toggle="left" class="button button-borderless button-rounded button-balanced">Open Sidebar</button>-->
      <!--<a href="#/app/events" target="_self" class="button button-outline button-rounded gem-white">Enter App</a>-->
      <!--&lt;!&ndash; end buttons &ndash;&gt;-->
    <!--</div>-->
  </ion-content>
</ion-view>
